div.viewInput,div.viewOutput {
  margin-top: 10px;
}

div.viewInput span,div.viewOutput span {
  font-size: 15px;
}

div.viewInput ul,div.viewOutput ul {
  list-style: none;
  font-size: 14px;
}


#midas_pyslicer_jobstatus_header {
  padding-left: 0px;
}

#midas_pyslicer_jobstatus_header li {
  word-wrap: break-word;
}

div.tableTitle {
  margin-top: 8px;
  padding-top: 7px;
  margin-bottom: 7px;
  font-size: 15px;
  border-top: 1px solid #d7d7d7;
}

#midas_pyslicer_jobstatuses {
  border-collapse: collapse;
}

#midas_pyslicer_jobstatuses th {
  border: 1px solid #bbbbbb;
  padding: 3px;
  background-color: #ccdfdf;
}

#midas_pyslicer_jobstatuses td {
  border: 1px solid #d7d7d7;
  padding: 3px 10px 3px 5px;
}

span.key {
  font-weight: bold;
}

div.tableContainer {
  padding-bottom: 9px;
  border-bottom: 1px solid #d7d7d7;
}
