span#midas_pyslicer_jobcount_wait {
    color: black;
}

span#midas_pyslicer_jobcount_started {
    color: blue;   
    margin-left: 1em;
}

span#midas_pyslicer_jobcount_done {
    color: green;   
    margin-left: 1em;
}

span#midas_pyslicer_jobcount_error {
    color: red;   
    margin-left: 1em;
}

.midas_pyslicer_wait {
    color: black !important;
}
.midas_pyslicer_started {
    color: blue !important;
}
.midas_pyslicer_done {
    color: green !important;
}
.midas_pyslicer_error {
    color: red !important;
}

#midas_pyslicer_jobstatus_header {
    list-style: none;    
}

#midas_pyslicer_jobstatus_condition {
    list-style: none;    
}

#midas_pyslicer_pipelines {
    list-style: none;    
}

div#slicerPipelines ul {
    list-style: none;    
}

div#slicerPipelines li {
    margin: 5px 0px 5px 0px;
}

div#slicerPipelines a.slicerPipeline{
  font-size: 14px;
}
